body {
    background-color: #165C7D ;
    color:  #F0B323;
}



.portrait_thumbnail{
    width: 50px;
    height: 50px;
}

.title-bar {
    display: flex;
    align-items: center;
    gap: 20px; /* space between title and button */
}

.x-axis text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #000000;
}


#histogram{
    position: relative;
    background-color: rgb(208, 199, 199);
}

#reset-button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}

h1 {
    font-size: 40px;
}

h2 {
    font-family: Snell Roundhand, cursive;
    font-size: 50px;
    text-decoration: underline;
}

.tick {
    color:#000000
}
.x-axis{
    color:#000000
}